.quotes{
    padding: 2rem;
    margin-bottom: 2rem;
}

.quotes__heading{
    display: flex;
    justify-content: center;
     font-size: 2em;
     color: #F7C331;
}

.quote__text{
    font-size: 1.60em;
   color: #DCC7AA;
}

.quote__author{
    font-size: 1.60em;
   color: #DCC7AA;
}